.app {
  height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    img{
      font-size: 0px;
    }
    .bg-con{
      position: relative;
      .bg-top{
        text-align: right;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .bg-top-one{
          margin-top: 2.5vh;
          width: 100%;
        }
        .bg-top-two{
          width: 30%;
          position: relative;
          top: -5vh;
          right: -52px;
        }
      }
      .bg-middle{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: -53px;
        margin-bottom: -2px;
        padding: 0 4%;
        .xinyun{
          width: 52%;
          margin-left: 24%;
        }
        .content{
          margin-top: -3px;
          .content-top{
            img{
              width: 100%;
            }
          }
          .content-middle{
              background-repeat: no-repeat;
              background-size: 100% 100%;
              overflow: hidden;
              position: relative;
              top: -133px;
              min-height: 460px;
              .list{
                overflow: hidden;
                margin: 0px 4vw;
                color: #ff356b;
                .list-li{
                  overflow: hidden;
                  width: 100%;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  padding: 20px 10px;
                  box-sizing: border-box;
                  display: flex;
                  .list-li-left{
                    width: 37vw;
                    display: flex;

                    .list-li-left-renson{
                      float: left;
                      width: 6vh;
                      height: 6vh;
                      border-radius: 50%;
                    }
                    .list-text{
                      height: 6vh;
                      float: left;
                      padding: 0px 4px;
                      p{
                        line-height: 3vh;
                      }
                    }
                  }
                  .count{
                    float: left;
                    width: 5vh;
                    height: 5vh;
                    border-radius: 10%;
                    padding-right: 6px;
                    margin-top: 1vh;
                    position: relative;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                    span{
                      position: absolute;
                      top: 0px;
                      color: #fff;
                      font-size: 54px;
                      left: 0px;
                      display: inline-block;
                      text-align: center;
                      width: 5vh;
                      font-weight: 700;
                      height: 5vh;
                      line-height: 5vh;
                    }
                  }
                  .list-li-right{
                    display: flex;
                    .list-li-left-renson{
                      float: left;
                      width: 6vh;
                      height: 6vh;
                      border-radius: 50%;
                    }
                    .list-text{
                      float: left;
                      padding: 0px 4px;
                      p{
                        line-height: 3vh;
                      }
                    }
                  }
                }
              }
          }
          .content-bottom{
            margin-top: -273px;
            img{
              width: 100%;
            }
          }
        }
      }

      .bg-bottom{
        position: absolute;
        bottom: 0px;
        z-index: -1;
        margin-bottom: -320px;
        img{
          width: 100%;
        }
      }
    }
    .dialog-regular{
      z-index: 9;
      background-color: rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      // opacity: 0.5;
        .dialog-bg{
          width: 80%;
          margin-left: 10%;
          margin-top: 10%;
        }
        .dialog-hide{
          position: absolute;
          right: 0%;
          top: 0%;
          margin-top: 14%;
          margin-right: 13.5%;
        }
        @media screen and (min-width: 768px) {
          .dialog-bg{
            width: 62%;
            margin-left: 19%;
            margin-top: 5%;
          }
          .dialog-hide{
            position: absolute;
            right: 0%;
            top: 0%;
            margin-top: 9%;
            margin-right: 22%;
            width: 8%;
          }
      }
    }
    
}
img{
  font-size: 0px;
}